[Unit]
Description=modprobed_db update

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/local/bin/ready2sleep 8 8 8